name: workflow
# 触发条件：每天UTC时间2点运行（北京时间10点）
on:
  push:
    branches: [ '*' ]
  schedule:
    - cron: "0 2 * * *" # 每天凌晨2点UTC运行
  workflow_dispatch: # 允许手动触发，方便测试
jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      # 步骤1：拉取代码
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: 'stable'
      # 步骤2：设置Python环境
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13" # 指定Python版本
          cache: "pip" # 启用pip缓存，加速后续运行
      # 步骤3：安装依赖
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Create config file
        run: |
          cat > config.yaml << 'EOF'
          ${{ secrets.CONFIG_CONTENT }}
          EOF
      # 步骤4：运行脚本
      - name: Run Python script
        run: python -m functions.main # 替换为你的脚本文件名
